@import "../../default.css";

.skills-grid {
    display: grid;
    width: 80vw;
    height: 70vh;
    grid-template-columns: repeat(5, 1fr);
    border: 10px solid yellow;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}

.skills-block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(39, 39, 39);
    padding: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}
