.contact-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.inner-contact-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-link {
    color: skyblue;
    transition: 0.1s;
}

.contact-link:hover {
    color: pink;
}
