@import "../../default.css";

.not-found-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.not-found-title {
    font-size: 5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}
