@import "../../default.css";

.about-body {
    padding-top: calc(var(--header-height) * 2.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-intro {
    margin-bottom: 3rem;
    width: 70vw;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.about-title {
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.about-intro-text {
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.BU-photo {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    border: 5px solid white;
}
