* {
    padding: 0;
    margin: 0;
}

:root {
    background: black;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 5vh;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    --header-height: 9vh;
}

.gradient-text {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.fade-in {
    -webkit-animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
        padding-top: 1rem;
    }
    to {
        opacity: 1;
        padding-top: 0;
    }
}

.slide {
    animation: 1s ease-out 0s 1 slide;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.show {
    transform: translateX(0);
}
