* {
    padding: 0;
    margin: 0;
}

:root {
    background: black;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 5vh;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    --header-height: 9vh;
}

.fade-in {
    -webkit-animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
        padding-top: 1rem;
    }
    to {
        opacity: 1;
        padding-top: 0;
    }
}
