@import "./default.css";

.profile-image {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    border: 5px solid white;
}

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 50vw;
}
